<footer class="site-footer">
  <header>
    <h1 class="site-footer__title">{{ site.title }}</h1>
    <h2 class="site-footer__desc">{{ site.description }}</h2>
  </header>
  <section>
    <nav class="site-map">
      <ul class="site-map__list">
        <li class="site-map__item">
          <a href="{{ site.baseurl }}/">Home</a>
        </li>
        <li class="site-map__item">
          <a class="site-map__link" href="{{ site.baseurl }}/about/">About</a>
        </li>
        <li class="site-map__item rss">
          <a class="site-map__link" href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a>
        </li>
      </ul>
    </nav>
  <section>
  <footer>
    <p class="site-footer__copyright"><small>Copyright 2015 Luke Fritz</small></p>
  </footer>
</footer>
