@font-face {
    font-family: "Cormorant";
    src: url("http://lukeandkrista.com/tech/fonts/cormorant/cormorant-bold-webfont.eot");
    src: url("http://lukeandkrista.com/tech/fonts/cormorant/cormorant-bold-webfont.eot?#iefix") format("embedded-opentype"),
         url("http://lukeandkrista.com/tech/fonts/cormorant/cormorant-bold-webfont.woff2") format("woff2"),
         url("http://lukeandkrista.com/tech/fonts/cormorant/cormorant-bold-webfont.woff") format("woff"),
         url("http://lukeandkrista.com/tech/fonts/cormorant/cormorant-bold-webfont.ttf") format("truetype"),
         url("http://lukeandkrista.com/tech/fonts/cormorant/cormorant-bold-webfont.svg#cormorantbold") format("svg");
    font-weight: 700;
    font-style: normal; 
}

@font-face {
    font-family: "Cormorant";
    src: url("http://lukeandkrista.com/tech/fonts/cormorant/cormorant-bolditalic-webfont.eot");
    src: url("http://lukeandkrista.com/tech/fonts/cormorant/cormorant-bolditalic-webfont.eot?#iefix") format("embedded-opentype"),
         url("http://lukeandkrista.com/tech/fonts/cormorant/cormorant-bolditalic-webfont.woff2") format("woff2"),
         url("http://lukeandkrista.com/tech/fonts/cormorant/cormorant-bolditalic-webfont.woff") format("woff"),
         url("http://lukeandkrista.com/tech/fonts/cormorant/cormorant-bolditalic-webfont.ttf") format("truetype"),
         url("http://lukeandkrista.com/tech/fonts/cormorant/cormorant-bolditalic-webfont.svg#cormorantbold_italic") format("svg");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "Cormorant";
    src: url("http://lukeandkrista.com/tech/fonts/cormorant/cormorant-regular-webfont.eot");
    src: url("http://lukeandkrista.com/tech/fonts/cormorant/cormorant-regular-webfont.eot?#iefix") format("embedded-opentype"),
         url("http://lukeandkrista.com/tech/fonts/cormorant/cormorant-regular-webfont.woff2") format("woff2"),
         url("http://lukeandkrista.com/tech/fonts/cormorant/cormorant-regular-webfont.woff") format("woff"),
         url("http://lukeandkrista.com/tech/fonts/cormorant/cormorant-regular-webfont.ttf") format("truetype"),
         url("http://lukeandkrista.com/tech/fonts/cormorant/cormorant-regular-webfont.svg#cormorantregular") format("svg");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Cormorant";
    src: url("http://lukeandkrista.com/tech/fonts/cormorant/cormorant-regularitalic-webfont.eot");
    src: url("http://lukeandkrista.com/tech/fonts/cormorant/cormorant-regularitalic-webfont.eot?#iefix") format("embedded-opentype"),
         url("http://lukeandkrista.com/tech/fonts/cormorant/cormorant-regularitalic-webfont.woff2") format("woff2"),
         url("http://lukeandkrista.com/tech/fonts/cormorant/cormorant-regularitalic-webfont.woff") format("woff"),
         url("http://lukeandkrista.com/tech/fonts/cormorant/cormorant-regularitalic-webfont.ttf") format("truetype"),
         url("http://lukeandkrista.com/tech/fonts/cormorant/cormorant-regularitalic-webfont.svg#cormorantitalic") format("svg");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Cormorant";
    src: url("http://lukeandkrista.com/tech/fonts/cormorant/cormorant-medium-webfont.eot");
    src: url("http://lukeandkrista.com/tech/fonts/cormorant/cormorant-medium-webfont.eot?#iefix") format("embedded-opentype"),
         url("http://lukeandkrista.com/tech/fonts/cormorant/cormorant-medium-webfont.woff2") format("woff2"),
         url("http://lukeandkrista.com/tech/fonts/cormorant/cormorant-medium-webfont.woff") format("woff"),
         url("http://lukeandkrista.com/tech/fonts/cormorant/cormorant-medium-webfont.ttf") format("truetype"),
         url("http://lukeandkrista.com/tech/fonts/cormorant/cormorant-medium-webfont.svg#cormorantmedium") format("svg");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Cormorant";
    src: url("http://lukeandkrista.com/tech/fonts/cormorant/cormorant-mediumitalic-webfont.eot");
    src: url("http://lukeandkrista.com/tech/fonts/cormorant/cormorant-mediumitalic-webfont.eot?#iefix") format("embedded-opentype"),
         url("http://lukeandkrista.com/tech/fonts/cormorant/cormorant-mediumitalic-webfont.woff2") format("woff2"),
         url("http://lukeandkrista.com/tech/fonts/cormorant/cormorant-mediumitalic-webfont.woff") format("woff"),
         url("http://lukeandkrista.com/tech/fonts/cormorant/cormorant-mediumitalic-webfont.ttf") format("truetype"),
         url("http://lukeandkrista.com/tech/fonts/cormorant/cormorant-mediumitalic-webfont.svg#cormorantmedium_italic") format("svg");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "Cormorant";
    src: url("http://lukeandkrista.com/tech/fonts/cormorant/cormorant-semi-webfont.eot");
    src: url("http://lukeandkrista.com/tech/fonts/cormorant/cormorant-semi-webfont.eot?#iefix") format("embedded-opentype"),
         url("http://lukeandkrista.com/tech/fonts/cormorant/cormorant-semi-webfont.woff2") format("woff2"),
         url("http://lukeandkrista.com/tech/fonts/cormorant/cormorant-semi-webfont.woff") format("woff"),
         url("http://lukeandkrista.com/tech/fonts/cormorant/cormorant-semi-webfont.ttf") format("truetype"),
         url("http://lukeandkrista.com/tech/fonts/cormorant/cormorant-semi-webfont.svg#cormorantsemi") format("svg");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Cormorant";
    src: url("http://lukeandkrista.com/tech/fonts/cormorant/cormorant-semiitalic-webfont.eot");
    src: url("http://lukeandkrista.com/tech/fonts/cormorant/cormorant-semiitalic-webfont.eot?#iefix") format("embedded-opentype"),
         url("http://lukeandkrista.com/tech/fonts/cormorant/cormorant-semiitalic-webfont.woff2") format("woff2"),
         url("http://lukeandkrista.com/tech/fonts/cormorant/cormorant-semiitalic-webfont.woff") format("woff"),
         url("http://lukeandkrista.com/tech/fonts/cormorant/cormorant-semiitalic-webfont.ttf") format("truetype"),
         url("http://lukeandkrista.com/tech/fonts/cormorant/cormorant-semiitalic-webfont.svg#cormorantsemi_italic") format("svg");
    font-weight: 600;
    font-style: italic;
}

$title-font: "Cormorant";
$body-font: "arconregular";

body {
  font-family: $body-font, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $title-font, serif;
}
