$narrow_width: 60%;
@mixin narrow {
  max-width: $narrow_width;
}

@mixin centered {
  margin: 0 auto;
}

@mixin aligned_with_narrow_centered {
  margin-left: (100% - $narrow_width) / 2;
}

.post__content {
  @include narrow;
  @include centered;
}

.post__content pre {
  padding-left: 1em;
}

.post__title {
  padding-top: 1em;
}

.post__content {
  padding-top: 3em;
  padding-bottom: 3em;
}

.post__date {
  @include narrow;
  @include aligned_with_narrow_centered;
  text-align: right;
}

.post__date:before {
  content: "Published on "
}

.post__author {
  @include narrow;
  @include aligned_with_narrow_centered;
  text-align: right;
}

.post__author:before {
  content: "By "
}

.post img {
  margin: 2em auto;
  max-width: 95%;
}
