.post__content p {
  max-width: 60%;
}

.post__title {
  padding-top: 1em;
}

.post__content {
  padding-top: 3em;
  padding-bottom: 3em;
}

.post__date {
  width: 60%;
  margin: 0 auto;
  text-align: right;
}

.post__date:before {
  content: "Published on "
}

.post__author {
  width: 60%;
  margin: 0 auto;
  text-align: right;
}

.post__author:before {
  content: "By "
}

.post img {
  margin: 2em 0;
  max-width: 95%;
}
