@mixin narrow-content {
  max-width: 60%;
  margin: 0 auto;
}

.post__content p {
  @include narrow-content;
}

.post__content pre {
  @include narrow-content;
  padding-left: 1em;
}

.post__title {
  padding-top: 1em;
}

.post__content {
  padding-top: 3em;
  padding-bottom: 3em;
}

.post__date {
  @include narrow-content;
  text-align: right;
}

.post__date:before {
  content: "Published on "
}

.post__author {
  @include narrow-content;
  text-align: right;
}

.post__author:before {
  content: "By "
}

.post img {
  margin: 2em auto;
  max-width: 95%;
}
