.site-footer {
  min-height: 3em;
  width: 100%;
  padding: 2em 5%;
}

.site-footer__title {
  display: inline-block;
  padding-right: 1em;
}

.site-footer__desc {
  display: inline-block;
}

.site-footer__copyright {
}

.site-footer__rss {
}
