.post-list {
}

.post-list__list {
  list-style: none;
}

.post-list__item-link {
  text-decoration: none;
  color: lighten($base-color, 20%);
}

.post-list__item-link:visited {
  color: lighten($bold-color, 10%);
}
