.site-header {
  background-color: $light-color;
}

.site-header__title a {
  color: $primary-color;
  line-height: 1em;
  text-decoration: none;
}

.site-nav__list {
  list-style: none;
}

.site-nav__item {
  font-size: 1.5em;
  background-color: $white-color;
}

.site-nav__link {
  color: $dark-color;
  text-decoration: none;
  margin: 0;
  padding: 10px;
  display: inline-block;

  &:hover {
    color: $primary-color;
  }
}
