.site-footer {
  background-color: lighten($base-color, 60%);
  border-top: 5px solid lighten($base-color, 80%);
}

.site-footer__title {
  font-size: 1em;
}

.site-footer__desc {
  font-size: 0.8em;
}

.site-footer__copyright {
  font-size: 0.8em;
}

.site-footer__rss a {
  color: $base-color;
  font-size: 0.8em;
}
