.site-header {
  background-color: lighten($base-color, 40%);
  border-bottom: 15px solid lighten($base-color, 80%);
  border-top: 15px solid lighten($base-color, 80%);
}

.site-header__title a {
  color: $bold-color;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  line-height: 1em;
  text-decoration: none;
}

.site-nav {
}

.site-nav__list {
  list-style: none;
}

.site-nav__item {
  font-size: 1.5em;
}

.site-nav__item:hover {
}

.site-nav__link {
  color: lighten($base-color, 80%);
  text-decoration: none;
}

.site-nav__link:hover {
  color: lighten($bold-color, 15%);
}
