---
layout: default
---
<section class="post">
  <header class="post-header">
    {% if page.img %}<img class="post-header__img" src="{{ page.img[0] }}" alt="{{ page.img[1] }}">{% endif %}
    <h1 class="post-header__title">{{ page.title }}</h1>
    <ul class="post-details">
      <li class="post-details__date">{{ page.date | date: "%b %-d, %Y" }}</li>
      <li class="post-details__author">{{ page.author }}</li>
      {% if page.meta %}<li class="post-details__meta">{{ page.meta }}</li>{% endif %}
    </ul>
  </header>
  <article class="post-content">
    {{ content }}
  </article>
  <footer class="post-footer">
  </footer>
</section>
