---
layout: default
---
<article class="Post">
  <header class="Post-header">
    {% if page.img %}<img class="Post-header-img" src="{{ page.img[0] }}" alt="{{ page.img[1] }}">{% endif %}
    <h1 class="Post-title">{{ page.title }}</h1>
  </header>
  <div class="Post-content">
    {{ content }}
  </div>
  <footer class="Post-footer">
    <div class="Post-date">{{ page.date | date: "%b %-d, %Y" }}</div>
    <div class="Post-author">{{ page.author }}</div>
    {% if page.meta %}<div class="Post-meta">{{ page.meta }}</div>{% endif %}
  </footer>
</article>
